$page-color-font: #323642;

$top-panel-background: #22252E;
$top-panel-orange: #FF8D00;
$top-panel-color-font: #889099;

$top-menu-color-font: $page-color-font;
$top-menu-text-underline: #4CB649;

$top-menu-button-gradient1: $top-menu-text-underline;
$top-menu-button-gradient2: #5DDF5A;

$blog-border: #D7D8D9;
$blog-color-font: $top-panel-background;
$blog-author: $top-menu-color-font;
$blog-data: $top-panel-color-font;
$blog-category: $top-menu-text-underline;
$blog-comments: $top-panel-color-font;

$navigation-background:#F7F7F7;
$navigation-font: $page-color-font;
$navigation-font-green: $top-menu-text-underline;

$sidebar-list-icon: $top-menu-text-underline;
