.main {
  &__section-1 {

  }

  &__section-2 {

  }

  &> {
    box-sizing: border-box;
  }

  &__blog {
    margin-bottom: 30px;

    &--top {
      margin-bottom: 30px;
    }
  }

  &__navigation {
    margin-bottom: 40px;
  }


  // &> :not(:nth-child(-n + 3)) {
  //   margin-bottom: 10px;
  // } 
  

  &__recent-posts {
    grid-row: 3 / 12;
  }
  
  &__form-search {
    border-right: 1px solid red;
    margin-bottom: 30px;
  }

  &__sidebar {
    
  }


}
