.navigation {
  height: 60px;
  background-color: $navigation-background;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  box-sizing: border-box;
  border-radius: 4px;

  &__list {
    display: flex;
    flex-direction: row;

    &:last-child li:last-child a {
      margin-right: 0;
    }
  }

  &__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-decoration: none;

    &--dir {
      color: $navigation-font;
      margin-right: 45px;
    }

    &--tag {
      color: $navigation-font-green;
      margin-right: 34px;
    }
  }
}
